<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.gc.scratcher6">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Piggy Bank Scratchers6"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6760835969070814~3267571022"/>
        <!--applovin start-->
        <!-- <meta-data android:name="applovin.sdk.key"
            android:value="zWx_1M5MQM4vp7UfTc8rJCaPu6aACLiAte9u_EEPaJJORp3vPCkkOJ8GQiRc38nwnxon91BlLV7nIBfiNOQnhZ"  /> -->
        <!--<activity android:name="com.applovin.adview.AppLovinInterstitialActivity" android:configChanges="orientation|screenSize"/> -->
        <!--<activity android:name="com.applovin.adview.AppLovinConfirmationActivity" android:configChanges="orientation|screenSize"/> -->
        <!--applovin end-->
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".SplashScreenActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>